@page
@model RazorPagesUI.Pages.Forms.AddAddressModel
@{
    ViewData["Title"] = "Add Address";
}

<h1>Add Address</h1>
<form method="post">
    <input type="text" asp-for="Address.StreetAddress" />
</form>